body{
    background-color: rgb(45, 45, 44);
}

.whole-background{
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    height: 35vh;
    width: 70vw;
}

.title-of-game{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px 50px 20px;
}

.boxes{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px 200px 10px 200px;
    border-radius: 20px;
    z-index: 1;
}

.boxes::before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(1000px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.boxes div{
    border-color: rgb(114, 0, 21);
    border-style: solid;
    border-width: 4px;
}

.text-box{
    background-color: rgb(18, 18, 18);
    height: 400px;
    border-radius: 20px;
}

.text-area{
    background-color: rgb(18, 18, 18);
    border-color:  rgb(18, 18, 18);
    color: white;
    height: 98%;
    width: 99%;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    resize: none;
}

.text-area:focus{
    background-color: rgb(18, 18, 18);
    border-color:  rgb(18, 18, 18);
    color: white;
    height: 98%;
    width: 99%;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
}

.input-box-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.input-box{
    width: 40vw;
    height: 5vh;
    background-color: rgb(18, 18, 18);
    border-color: rgb(114, 0, 21);
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
}

.input-box:focus{
    width: 40vw;
    height: 5vh;
    background-color: rgb(18, 18, 18);
    border-color: rgb(114, 0, 21);
    color: white;
    border-radius: 15px;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.input-box:hover{
    width: 40vw;
    height: 5vh;
    background-color: rgb(18, 18, 18);
    border-color: rgb(114, 0, 21);
    color: white;
    border-radius: 15px;
    outline: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.input-button{
    width: 5vw;
    height: 5vh;
    border-color: rgb(114, 0, 21);
    color: white;
    background-color: rgb(114, 0, 21);
    border-radius: 10px ;
    font-size: 18px;
}

.input-button:active{
    background-color: rgb(85, 0, 16);
    border-color: rgb(85, 0, 16);
}


.input-button:hover{
    background-color: rgb(103, 0, 0);
    border-color: rgb(103, 0, 0);
    cursor: pointer;
}


.instructions{
    color: white;
    padding: 15px 150px 15px 150px;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.detailed-instructions{
    color: white;
    padding: 15px 150px 15px 150px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.generated-image{
    width: 100%;
    height: 100%;
}

@media (max-width: 1100px){
    .boxes{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 100px 10px 100px;
        border-radius: 20px;
        z-index: 1;
    }
}

@media (max-width: 900px){


    .title-of-game{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Stalinist One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 10px;
    }

    .boxes{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        z-index: 1;
    }

    .input-box{
        width: 40vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
        outline: none;
        padding: 5px;
        font-size: 16px;
    }

    .input-box:focus{
        width: 40vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
        outline: none;
        padding: 5px;
        font-size: 16px;
    }

    .input-box:hover{
        width: 40vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
        outline: none;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .input-button{
        width: 10vw;
        height: 5vh;
        border-color: rgb(114, 0, 21);
        color: white;
        background-color: rgb(114, 0, 21);
        border-radius: 10px ;
    }

    .instructions{
        color: white;
        padding: 15px 10px 15px 10px;
        font-size: 40px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    
    .detailed-instructions{
        color: white;
        padding: 15px 10px 15px 15px;
        font-size: 24px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }

}

@media (max-width: 800px){
    .boxes{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
        border-radius: 20px;
    }

    .title-of-game{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: "Stalinist One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 10px;
    }

    .header img{
        height: 20vh;
        width: 80vw;
    }

    .input-box{
        width: 55vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
    }

    .input-box:focus{
        width: 55vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
        outline: none;
        padding: 5px;
        font-size: 16px;
    }

    .input-box:hover{
        width: 55vw;
        height: 5vh;
        background-color: rgb(18, 18, 18);
        border-color: rgb(114, 0, 21);
        color: white;
        border-radius: 15px;
        outline: none;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
    }
 
    .input-button{
        width: 15vw;
        height: 5vh;
        border-color: rgb(114, 0, 21);
        color: white;
        background-color: rgb(114, 0, 21);
        border-radius: 10px ;
    }

    .instructions{
        color: white;
        padding: 15px 10px 15px 10px;
        font-size: 40px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    
    .detailed-instructions{
        color: white;
        padding: 15px 10px 15px 15px;
        font-size: 24px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }
}
