<!doctype html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/site.css">
  <title>SimuAdventure</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="whole-background"> 
    <div class="header">
      <img src="../static/images/header.png" >
    </div>
    <div class="title-of-game">SimuAdventure</div>

    <div class="boxes">
      <div class="text-box">
        <textarea class="text-area" rows="5" disabled></textarea>
      </div>
    </div>

    <div class="input-box-div">
      <input class="input-box" placeholder="Enter your choice">
      <button class="input-button">Enter</button>
    </div>

    <div class="instructions">INSTRUCTIONS</div>
    <div class="detailed-instructions">
      Welcome to SimuAdventure. In this text based game, you will have to opportunity to control the game environment using sensors and text prompts. <br> <br>
- Interact with sensors or buttons to influence the direction of the story.<br>
- The text displayed will be unique to you, and it will be created based on your previous inputs.<br>
- Pay attention, as the story will guide you towards certain actions.<br>
    </div>

  </div>
<script src="../static/site.js"></script>
</body>